/* custom css for my hakyll site */
body {
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 800px;
}

div.header {
    background-color: #efefef;
    height: auto;
    float: left;
    width: 20%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin: 0 5% 0 1%;
    }

div.info {
    background-color: #efefef;
    text-align: right;
    padding: 0 3% 0 1%;
    }

div.header div.navigation {
    background-color: #efefef;
    height: 100%;
    margin-bottom: 10px;
    }

div.navigation a {
    display: block;
    min-height:20%;
    }

div#TOC {
    float:right;
    max-width:25%;
    border-left: 1px black dotted;
    margin: 0 0 3px 3px;
    }

div.desc, div.tags, div.created, div.modified, div.status, div.belief {
    font-size: 90%;
    font-style: italic;
    }

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px green dotted;
    }

a:hover {
    border-bottom: none;
    background-color: #ecfcec;
    }

a:visited {
    text-decoration: none;
    border-bottom: 2px green dashed;
    }

div.navigation a {
    border-bottom: none;
    padding: 5px 0 5px 20px;
    font-size: 19pt;
    }

div.navigation a:hover {
    background-color: #999;
    color: #eee;
    }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    border-bottom: none;
    }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    background-color: #fff;
    }


h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    border-bottom: none;
    }

#TOC a {
    border:none;
    }

#TOC a:hover {
    background-color: #eeeeee;
    border-bottom: black 1px dashed;
    }