/* custom css for my hakyll site */
body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 800px;
}

div.header {
    background-color: #efefef;
    height: auto;
    float: left;
    width: 50%;
    }

div.header div.info {
    background-color: #efefef;
    width: 65%;
    float: right;
    text-align: right;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin: 0 1% 0 1%;
    padding: 0 1% 0 1%;
    }

div.header div.navigation {
    background-color: #efefef;
    float: left;
    width: 30%;
    height: 100%;
    }

div.navigation a {
    display: block;
    min-height:20%;
    }