$left: 25%;

.name {
    width: $left;
    max-width: 400px;
    float: left;
}

.info {
    width: $left;
    max-width: 400px;
    float: left;
    height: 100%;
}

.powered, .copyleft {
    float: left;
}

article {
    width: 50%;
    float: left;
}
