$left: 25%;

.info {
    float: left;
}

.powered, .copyleft {
    float: left;
}

article {
    float: left;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

footer {
    float: left;
    margin-left: 12.5%;
}
