!!! 5
%html
  %head
    %title Essays
    = render "_js"
    %link{:type => "text/css", :href => "css/style_home.css", :rel => "stylesheet"}
  %body
    = render "_nav"
    = yield 
    = render "_footer"

