!!! 5
%html
  %head
    %title Essays
    -# = render "js"
    %link {:type => "text/css", :href => "stylesheets/home.css", :rel => "stylesheet"}
  %body
    = render "_nav"
    = yield 
    = render "_footer"

