#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
    tags = []
    @items.each do |item|
        unless item[:tags].nil?
            tags = tags + item[:tags]
        end
    end
    tags = tags.uniq!
    tags.each do |t|
        Nanoc::Item.new("#{items_with_tag(t)}", { :title =>  "Tag: #{t}" }, '/tags/#{t}')
    end
end

compile 'index' do
    filter :kramdown
    layout 'home'
end

compile '404' do
end

compile 'google*' do
end

compile '*' do
  if (item[:extension] == ('css' || 'html'))
    # don’t filter stylesheets and html
  elsif item.binary?
    # don’t filter binary items
  else
    filter :kramdown
    layout 'layout'
  end
end

route '404' do
    item.identifier.chop + '.html'
end

route 'google*' do
    item.identifier.chop + '.html'
end

route '/' do
    item.identifier + 'index'
end

route '*' do
  if item[:extension] == 'css'
    # Write item with identifier /foo/ to /foo.css
    item.identifier.chop + '.css'
  elsif item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    # item.identifier + 'index.html'
    item.identifier.chop
  end
end

layout '*', :haml
