<!doctype html>
  <html>
    <head>
        <meta charset="UTF-8" />
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/typeplate.css" />
        <link rel="stylesheet" type="text/css" href="/css/soothe.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="stylesheet" type="text/css" href="/css/entypo.css" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <script src="/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="/js/idenizen.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="header">
            <div class="navigation">
                <img src="/images/logo.png" class="logo" alt="Logo: a wireframe key" />
                <span class="button"><a href="/index">ï</a>
                  <span class="tapestry">主页</span>
                  </span>
                <span class="button"><a href="/about">&gt;</a>
                  <span class="tapestry">关于</span>
                  </span>
                <span class="button"><a href="/read-me">+</a>
                  <span class="tapestry">作者</span>
                  </span>
                <span class="button"><a href="/changelog">h</a>
                  <span class="tapestry">变动</span>
                  </span>
                <span class="button">
                    <script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "pT@TMNahwmkHT.wTH"
  key = "wJQoEsBV8XUeCflhNxK6abG4tFydTWAO92MSjqiIDHc0mnYL51gRPvzkr37Zup"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>%</a>")
}
//-->
</script><noscript>Sorry, you need Javascript on to email me.</noscript>
                    <span class="tapestry">邮件</span>
                </span>
                <span class="button"><a href="/rss.xml">S</a>
                  <span class="tapestry">订阅</span>
                  </span>
            </div>
        </div>

        <div class="content">
            <h1><a href="$url$">$title$</h1>
            $if(description)$
            <div class="desc">$description$</div>
            $endif$
            <div class="info">
                $if(tags)$
                <span class="bullet">C</span>
                <span class="item">$tags$&nbsp; </span>
                $endif$
                <span class="bullet">&amp;</span>
                <span class="item">$created$&nbsp; </span>
                <span class="bullet">j</span>
            </div>

            $body$
        </div>
        <!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"expoundite"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
        <div class="footer ampersand">
          <hr/>
            Site prepared by <a href="http://about.me/haoyangxu/">Haoyang Xu</a> &amp; proudly generated by
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
            <br />
            <a href="https://ripple.com/">XRP</a> donation: rNv8UbreJv2hB3t3PCQc5p6BrQut7nEcm5
        </div>
        <script type="text/javascript"
                src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
    </body>
  </html>
