$partial("templates/header.html")$

<div class="title">
<h1><span>$title$</span></h1>
</div>
        <div class="content">
            $if(description)$
            <div class="desc">$description$</div>
            $endif$
            <div class="info">
	      <ul>
		<li>
                $if(tags)$
                <span class="bullet">C</span>
                <span class="item">$tags$&nbsp; </span>
                $endif$
		</li>
		<li>
                <span class="bullet">&amp;</span>
                <span class="item">$created$&nbsp; </span>
		</li>
		<li>
                <span class="bullet">j</span>
                <span class="item">$updated$&nbsp; </span>
		</li>
		<li>
                <span class="bullet">?</span>
                <span class="item">$status$&nbsp; </span>
		</li>
		<li>
                <span class="bullet">W</span>
                <span class="item">$belief$</span>
		</li>
	      </ul>
            </div>

	    <div class="article">
            $body$
	    </div>
        </div>
$partial("templates/footer.html")$
