<!doctype html>
  <html>
    <head>
        <meta charset="UTF-8" />
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/typeplate.css" />
        <link rel="stylesheet" type="text/css" href="/css/soothe.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="stylesheet" type="text/css" href="/css/entypo.css" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <script src="/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="/js/idenizen.js" type="text/javascript"></script>
    </head>
    <body>
