!!! 5
%html
  %head
    %title Essays
    = partial "js"
    %link {:type => "text/css", :href => "stylesheets/home.css", :rel => "stylesheet"}
  %body
    = partial "nav"
    = yield 
    = partial "footer"

