!!! 5
%html
  %head
    %title Essays
    = partial _js
    %link {:type => "text/css", :href => "stylesheets/home.css", :rel => "stylesheet"}
  %body
    = partial _nav
    = yield 
    = partial _footer

